*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Jersey 10", sans-serif;
}
body{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
img{
    width: 68px;
    height: auto;
}
input{
    display: none;
}
.section-title{
    font-size: 2rem;
    border: 2px;
    border-color: white;
    color: white;
    -webkit-text-stroke-width: 0px;
    background-color: black;
    position: absolute;
    top: -30px;
    padding: 10px;
}
.tarjeta-de-mokepon{
    text-align: center;
    color: black;
    display: flex;
    flex-direction: column;
    background-color: #00FFFF;
    padding: 10px 15px;
    border: 3px solid #ff4500;
}
.tarjeta-de-mokepon:hover{
    cursor: pointer;
}
input[type="radio"]:checked + .tarjeta-de-mokepon{
    background-color: #bf00ff;
    border-color: #39FF14;
}
.nombre-pet{
    font-size: 1.125rem;
}
.btn{
    color: #bf00ff;
    background-color: #39FF14;
    padding: 5px;
    border: 2px solid #bf00ff;
    font-size: 1.125rem;
    cursor: pointer;
}
.btn-atq{
    border-radius: 2rem;
    border: 2px solid white;
    font-size: 1.25rem;
    padding: 0.5rem;
    color: white;
}
#titulo{
    font-weight: 400;
    font-style: normal;
    font-size: 6rem;
    text-align: center;
    -webkit-text-stroke-width: 0.125rem;
    margin-bottom: 1rem;
}
#w{
    color: #39FF14;
    -webkit-text-stroke-color: #FF007F;
}
#e1{
    color: #00FFFF;
    -webkit-text-stroke-color: #bf00ff ;
}
#b{
    color: #FF007F;
    -webkit-text-stroke-color: #00FFFF;
}
#p{
    color: #ffdb58;
    -webkit-text-stroke-color: #39FF14;
}
#e2{
    color: #ffa500;
    -webkit-text-stroke-color: #FF007F;
}
#t{
    color: #ff4500;
    -webkit-text-stroke-color: #ffa500;
}
#s{
    color: #bf00ff;
    -webkit-text-stroke-color: #00FFFF;
}
#ex{
    color: white;
    -webkit-text-stroke-color: #bf00ff;
}
#seleccion-mascota{
    border: 2px solid white;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 4rem;
}
#boton-mascota{
    position:absolute;
    bottom: 10px;
}
#seleccion-ataque{
    flex-direction: column;
    border: 2px solid white;
    position: relative;
    padding: 4rem;
    align-items: center;
    justify-content: center;
    width: 100vw;
}
#boton-fuego{
    background-color: #ff4500;
}
#boton-agua{
    background-color: #0066ff;
}
#boton-planta{
    background-color: #00cc44;
}
#boton-tierra{
    background-color: #996633;
}
#boton-hielo{
    background-color: #66ccff;
}
#mensajes{
    margin-top: 1rem;
    font-size: 1.5rem;
}